<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Digilend </title>
  <!-- plugins:css -->
  <link rel="stylesheet"th:href="@{/vendors/feather/feather.css}">
  <link rel="stylesheet"th:href="@{/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet"th:href="@{/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet"th:href="@{/vendors/typicons/typicons.css}">
  <link rel="stylesheet"th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}">
  <link rel="stylesheet"th:href="@{/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet"th:href="@{/css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon"th:href="@{/images/favicon.png}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img th:src="@{/images/logo.svg}" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="fw-light">Sign in to continue.</h6>
              <div class="alert alert-error" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
                   th:text="${errorMsg}"
                   th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
              </div>
              <form method="post" name="f" th:action="@{/auth/login}" class="pt-3">
                <div class="form-group">
                  <input type="username" class="form-control form-control-lg" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password">
                </div>
                <div class="mt-4">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">SIGN IN</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script  th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script th:src="@{/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script  th:src="@{/js/off-canvas.js}"></script>
  <script  th:src="@{/js/hoverable-collapse.js}"></script>
  <script  th:src="@{/js/template.js}"></script>
  <script  th:src="@{/js/settings.js}"></script>
  <script  th:src="@{/js/todolist.js}"></script>
  <!-- endinject -->
</body>

</html>
